body {
  font-family: Arial, sans-serif;
  background-color: skyblue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

li {
  padding: 15px;
  margin: 8px 0;
  font-size: 1.2rem;
}

h1 {
  font-size: 1.75rem;
  font-family: "Courier New", Courier, monospace;
}
ul {
  list-style-type: square;
}
li {
  padding: 0%;
  margin: 5px;
}

.todo-title {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}
h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 100px 100px 50px 45px;
}
.form {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}

.button {
  width: auto;
  padding: 5px 15px;
  background-color: rgb(50, 131, 156);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  align-self: flex-start;
}
.button:hover {
  background-color: rgb(143, 153, 202);
}

input {
  padding: 0px;
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 8px;
  width: 100%;
}
